/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
  font-family: 'Advent Pro', sans-serif;
}

nav ul a,
nav .brand-logo {
  color: ##E8EDDF;
}

.nav-bar {
  background-color: #333533;
}

.nav-wrapper {
  font-family: 'Advent Pro', sans-serif;
}

.img-resized {
  margin-top: 3px;
  width: 50px; 
  height: 50px;
}

.parallax {
  width: auto; 
  height: auto;
} 

.sezioni {
  font-size: 50rem;
}

.nav-wrapper {
  padding: 0 50px;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #000000;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.section-intro {
    height: 100%;
    width: 100%;
}

.intro-header {
    margin-top: 15%;
    font-family: 'Permanent Marker', cursive;
}

.headerintro-subtitle {
    font-size: 2em;
    font-family: 'Advent Pro', sans-serif;
    font-weight: 700;
    line-height: 1.4em;
    font-color: #7C809B;
}

.come-funziona-icon {
  font-size: 7em;
}

.come-funziona-header {
    margin-top: 15%;
    font-family: 'Permanent Marker', cursive;
}

.come-funziona-subtitle {
  font-size: 2em;
  margin-top: 10%;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  line-height: 1.4em;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
  .nav-wrapper {
    padding: 0 10px;
  }
}

.col-servizio {
  margin-top: 60px;
  margin-bottom: 100px;
}

.icon-block {
  padding: 0 15px;
}

.icon-block .material-icons {
  font-size: inherit;
}

.icon-name {
    font-family: 'Permanent Marker', cursive;
    font-size: 1.6em;
}

#servizio h5 {
  font-size: 1.3em;
  line-height: 1.4em;
}

.section-registrazione {
    width: 100%;
    height: 100%;
}

.registrazione-icon {
  font-size: 7em;
  margin-top: 60px;
}

.registrazione-header {
    margin-top: 15%;
    font-family: 'Permanent Marker', cursive;
}

.registrazione-subtitle {
  font-size: 2em;
  margin-top: 10%;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  line-height: 1.4em;
}

.btn-registrazione {
  width: 100%;
}

.comune-icon {
  font-size: 7em;
}

.comune-header {
    margin-top: 15%;
    font-family: 'Permanent Marker', cursive;
}

.comune-subtitle {
  font-size: 2em;
  margin-top: 10%;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  line-height: 1.4em;
}

.btn-comune {
  width: 100%;
  margin-top: 5%;
  font-family: 'Advent Pro', sans-serif;
}

.comune-icon {
  font-size: 7em;
}

.section-pricing {
    width: 100%;
    height: 100%;
}

.pricing-icon {
  font-size: 7em;
  margin-top: 60px;
}

.pricing-header {
    margin-top: 15%;
    font-family: 'Permanent Marker', cursive;
}

.pricing-subtitle {
  font-size: 2em;
  margin-top: 10%;
  font-family: 'Advent Pro', sans-serif;
  font-weight: 700;
  line-height: 1.4em;
}

.btn-pricing {
  width: 100%;
}

footer.page-footer {
  margin: 0;
  background-color: #F5CB5C
}

.social-icon {
  font-size: 1.5em;
  margin-top: 60px;
  color: #333533;
  padding: 0 20px;
}

.social-icon:hover {
  color: #333533;
}
